{% extends 'base.html' %}
{% block mainBody %}

<section class="aescthetic">


    <div class="row" >

    	<div class="col s12">

    		<div class="container center about__us">
    			<h2> About Us ...</h2>

	    		<p class="center">Through the publication of well-researched articles on exercise, lifestyle, fashion, food, and relationships, Mr. Oadn has taken the effort to assist men in becoming their genuine selves.
				We are a small but thriving community that continues to expand daily.
				In the long run, it will be much simpler for us if we encourage one other to be their best selves. 

	    		</p>
				<h2> Why bother ?</h2>

	    		<p class="center">At Mr. Oadn, we strongly belive that there is more to life than just eat, sleep, work and repeat. We belive that a purpose in life is what defines a man's worth and contribution to scoiety. Doing things that should even when no one is noticing is a man with dedication and will and we ecourage such humans.
	    		</p>
	    	</div>

    	</div>
    </div>
</section>

{% endblock %}