{% load static %}
<!DOCTYPE html>
<html>
<head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-G6VBY7GQ78"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-G6VBY7GQ78');
</script>
  
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="{% static 'img/mroadn_fav.png' %}">
	

  {% if title %}


  <title> {{title}} </title>
  <meta name="keywords" content="{{keywords}}">
  <meta name="description" content="{{description}}">

  {% else %}

  <title> Mr. Oadn - Just on a Different Note </title>
  <meta name="keywords" content="Mr-oadn, Mens-health, mroadn">
  <meta name="description" content="Join our tiny community of people who provide personal care for one another, encouraging one another to be their best selves">

  {% endif %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>


<!-- Navbar starts -->
  
  {% include 'nav.html' %}

<!-- Navbar ends -->

<!-- Main body -->

  {% block mainBody %}
  {% endblock %}

<!-- End main body -->

<!-- Footer -->
  
  {% include 'footer.html' %}
    

</body>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    
  <script type="text/javascript" src="{% static 'js/main.js' %}"></script>
</html>
