<footer>
   

      <div class="footer__tagline container center">
        All rights reserverd by Mr Oadn(&#169;mroadn.com)
      </div>
    
    <hr class="white-text">
 

    <div class="footer__branding row">
      <div class="col s12 m6 l4">
        
        {% if error %}
        <h3>{{error}}</h5>
        {% else %}
    	<h5>Recive a note from us directly to your inbox</h5>
            <form method="post" class="white-text newsletter">
              {% csrf_token %}
              <input class="white-text" type="text" name="sub-name" placeholder="Your Name">
              <br>
              <input class="white-text" type="email" name="sub-email" placeholder="your@mail.com">
             
                <button><i class='bx bxs-chevron-right'></i></button>
              
            </form>
        {% endif %}
        
        <div class="socials">
          <a href="https://www.facebook.com/profile.php?id=100090220004732" target="_"><i class='bx bxl-facebook-square'></i></a>
          <a href="https://www.instagram.com/mr_oadn/" target="_"><i class='bx bxl-instagram' ></i></a>
          <a href="https://in.pinterest.com/mr_oadn/" target="_"><i class='bx bxl-pinterest' ></i></a>
          <a href="https://twitter.com/mr_oadn" target="_"><i class='bx bxl-twitter' ></i></a>
        </div>
      </div>

      <div class=" footer__tags col s12 m6 l4">
        <div class="row">
          <div class="col s4">
            <a href="{% url 'food' %}">FOOD</a>
          </div>
          <div class="col s4">
            <a href="{% url 'lifestyle' %}">LIFESTYLE</a>
          </div>
      </div>

      <div class="description">
        Our mission at Mr. Oadn is to inspire and educate our readers to lead a happy and healthy life, while staying up-to-date with the latest trends in fashion, technology, and culture.

        Stay connected with us through our social media platforms and sign up for our newsletter to receive the latest news, tips, and insights on health, fashion, culture, tech, and lifestyle. We would love to hear from you, so please don't hesitate to contact us with any questions or feedback.

        Thank you for being a part of our community and we look forward to continuing to provide you with valuable and informative content.

      </div>
    </div>

  </footer>
