{% extends 'base.html' %}
{% load static %}
{% block mainBody %}
	<section class="aescthetic">
	  
	  <div>


	    <div class="row">

	      <!-- Story Board  Area-->

	      <div class="col s12 m9 l8">

	        <!-- Tiles Area -->



	        <!-- Large Card set -->
	        <div class="row">

	       	<!-- CARD  -->
	        
	        <div class="col s12 m12 l12">

	            <div class="center">
	              <a href="{% url 'article' latestOne.slug %}"><img src="{{latestOne.thumbnail.url}}" alt="{{latestOne.title}}" class="card-img responsive-img"></a>
	              <div class="center article__meta">
	                <!-- <div class="tag"> FOOD</div> -->

	                <div class="credits">
	                  {{latestOne.created_at|date:"F, d, Y"}} ● {{latestOne.author_name}}
	                </div>
	                <a><h1 class="title"style="font-size: 3.2rem;">{{latestOne.title}}</h1></a>
	                <div class="description">{{latestOne.meta_description}}</div>

	                <div class="row hide-on-med-and-down">
	                  
	                    <!-- <div class="left">
	                      <div class="comments"><span>96 </span>COMMENTS</div>
	                    </div>-->
	                      <div class="right">
	                        <div>
	                          <a href="{% url 'article' latestOne.slug %}" class="button">Continue Reading</a>
	                      </div>
	                    </div>
	                </div>
	              </div>

	              <div class="seperator">
	              	<hr class="hide-on-med-and-down block"></div>
	            </div>

	        </div>

	        <!-- END CARD -->
	       	<!-- CARD2  -->
	        
	        <div class="col s12 m12 l12">

	            <div class="center">
	              <a href="{% url 'article' latestTwo.slug %}"><img src="{{latestTwo.thumbnail.url}}" alt="{{latestTwo.title}}" class="card-img responsive-img"></a>
	              <div class="center article__meta">
	                <!-- <div class="tag"> FOOD</div> -->

	                <div class="credits">
	                  {{latestTwo.created_at|date:"F, d, Y"}} ● {{latestTwo.author_name}}
	                </div>
	                <a><h2 class="title" style="font-size: 3.0rem;">{{latestTwo.title}}</h2></a>
	                <div class="description">{{latestTwo.meta_description}}</div>

	                <div class="row hide-on-med-and-down">
	                  
	                    <!-- <div class="left">
	                      <div class="comments"><span>96 </span>COMMENTS</div>
	                    </div>-->
	                      <div class="right">
	                        <div>
	                          <a href="{% url 'article' latestTwo.slug %}" class="button">Continue Reading</a>
	                      </div>
	                    </div>
	                </div>
	              </div>

	              <div class="seperator">
	              	<hr class="hide-on-med-and-down block"></div>
	            </div>

	        </div>

	        <!-- END CARD2 -->

	       	<!-- CARD3  -->
	        
	        <div class="col s12 m12 l12">

	            <div class="center">
	              <a href="{% url 'article' latestThree.slug %}"><img src="{{latestThree.thumbnail.url}}" alt="{{latestThree.title}}" class="card-img responsive-img"></a>
	              <div class="center article__meta">
	                <!-- <div class="tag"> FOOD</div> -->

	                <div class="credits">
	                  {{latestThree.created_at|date:"F, d, Y"}} ● {{latestThree.author_name}}
	                </div>
	                <a><h3 class="title" style="font-size: 3rem;">{{latestThree.title}}</h3></a>
	                <div class="description">{{latestThree.meta_description}}</div>

	                <div class="row hide-on-med-and-down">
	                  
	                    <!-- <div class="left">
	                      <div class="comments"><span>96 </span>COMMENTS</div>
	                    </div>-->
	                      <div class="right">
	                        <div>
	                          <a href="{% url 'article' latestThree.slug %}" class="button">Continue Reading</a>
	                      </div>
	                    </div>
	                </div>
	              </div>

	              <div class="seperator">
	              	<hr class="hide-on-med-and-down block"></div>
	            </div>

	        </div>

	        <!-- END CARD3 -->

	        <!-- END Large Card Sets -->

	          <!-- SMALLER CARDS -->
	          <div class="row">
	     
	            {% for post in olderPosts %}

	            <div class="col s12 m4 l3">
	              <div class="padded center">
	                <a href="{% url 'article' post.slug %}">
	                	<img src="{{post.thumbnail.url}}" alt="{{post.title}}" class="card-img responsive-img"></a>
	                <div class="center article__meta">
	                  <div class="tag"> {{post.tags.all.0}}</div>
	                  <a href="{% url 'article' post.slug %}"><h4 class="title">{{post.title}}</h4></a>
	                  <p class="description">{{post.meta_description}} ...</p>

	                  <!-- <div class="comments"><span>96 </span>COMMENTS</div> -->
	                </div>
	              </div>
	            </div>


	            {% endfor %}

	          </div>
	          <!-- Pagination -->
	          <div class="center">
	            <a href="#" class="button">Load Previous</a>
	          </div>
	          <!-- End Pagination -->




	        </div>

	        <!-- End Tiles Area -->

	        <div class="container">
	          
	          
	        </div>


	        
	      </div>

	      <!-- End Story Board Area -->

	      <!-- Side Bar -->

	      <div class="col s12 m3 l4">

	        <div class="z-depth-1 ad_space container">

	          <img class="responsive-img" src="{% static 'img/logo-no-background.png' %}">

	        </div>

	        <hr>

	        <div class="container center">

	          <h4> Discover More </h4>

	          <div class="row">

	          	{% for post in suggested %}
	             <div class="col s12 m12 l12">
	              <div class="padded center">
		              <a href="{% url 'article' post.slug %}">
			            <img src="{{post.thumbnail.url}}" alt="{{post.title}}" class="card-img responsive-img">
			        	</a>
			                <div class="center article__meta">
			                  <div class="tag">{{post.tags.all.0}}</div>
			                  <h5 class="title">{{post.title}}</h5>
			                  <div class="description">{{post.meta_description}} - Mr. Oadn {{post.tags.all.0}}<a href="{% url 'article' post.slug %}" style="color: var(--accent-color-orange);"> Read more</a>
			                </div>

			                </div>
			           
	              </div>
	            </div>

	            {% endfor %}
	   


	          </div>

	        </div>
	        
	      </div>

	      <!-- End Side Bar -->
	      
	    </div>


	  </div>

	</section>

{% endblock %}
