{% extends 'base.html' %}
{% load static %}
{% block mainBody %}

	<form method="POST" class="container center">
		<br>
		<br>
		<br>
		<br>

		{% csrf_token %}
		{% if error %}
		<h3> Looks like you have already Signed-up for our Newsletter using that E-mail </h3>
		<a href="{% url 'home' %}" class="button">Home</a>
		<div style="padding-top: 2.5rem;">
			<img src="{% static 'img/done.jpg' %}" alt="successful on boarding">
		</div>
		{% else %}
		<h1>Sign up to Our Newsletter</h1>
		<input type="email" name="sub-email" placeholder="Enter You E-mail">
		<input type="text" name="sub-name" placeholder="Your Name?">
		<button type="submit" class="button"> Signup</button>
		{% endif %}
		<br>
		<br>
		<br>
		<br>
	</form>

{% endblock %}